@model AppDownloadViewModel
@{
    ViewData["Title"] = "スマホで作業記録 スマホアプリ ダウンロード";
    Layout = "_Layout_login";
}

<style>
    body {
        background-color: #ffffff!important;
    }

</style>

<div class="mt-2 p-3" style="max-width:500px;">

    <div class="p-1" style="display:flex;justify-content: center;">
        <h2 id="login-title" class="fw-bold">スマホで作業記録</h2><i class="fas fa-wifi fa-fw fa-lg login-icon" style="color:var(--maincolor);transform: rotate(45deg);position:relative;left:-13px;top:-10px;"></i>
    </div>
    <h5 class="p-2 text-center">スマホアプリ ダウンロード</h5>

    <form method="post" asp-action="Index" enctype="multipart/form-data">
        <div class="text-center p-3">
            <div class="form-row">
                <span class="text-danger">@ViewData["Error"]</span>
            </div>
            <div class="form-row">
                <input type="hidden" asp-for="@Model.CompanyId" />
                <input type="password" class="form-control" asp-for="@Model.DownloadCord" placeholder="ダウンロードコードを入力してください" />
                <input type="submit" class="btn btn-custom mt-1" value="ダウンロード実行" />
            </div>
        </div>
    </form>

    <div class="mt-3">
        <b>ダウンロードを行う前に、以下の設定を行ってください。</b>
        <ul>
            <li>
                Android端末の場合
                <ol>
                    <li>「設定」のアプリをタップします。</li>
                    <li>「アプリと通知」をタップします。</li>
                    <li>「詳細設定」をタップします。<br />※「詳細設定」が存在しない場合は4へ進みます。</li>
                    <li>「特別なアプリアクセス」をタップします。</li>
                    <li>「不明なアプリのインストール」をタップします。</li>
                    <li>インストールを許可するアプリを選択します。<br />※今開いているブラウザが「Chrome」の場合は、「Chrome」での許可設定を行います。</li>
                    <li>「この提供元のアプリを許可」に設定します。</li>
                </ol>
            </li>
        </ul>
    </div>

</div>


@section Scripts {
    <script>

    </script>
}