@model LoginViewModel
@{
    ViewData["Title"] = "ログイン";
    Layout = "_Layout_login";
}

<style>
    .card {
        border-radius:30px;
    }

    .card-footer{
        border-bottom-left-radius: 30px!important;
        border-bottom-right-radius: 30px !important;
        background-color: var(--othercolor);
    }

        .card-footer{
        background-color: var(--fontcolor) !important;
        color: #fff !important;
        }

    .login-button {
        background-color: var(--maincolor)!important;
        border-radius: 100vh;
        color: #fff!important;
        border: 2px solid #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    }

        .login-button:hover {
            color: var(--fontcolor) !important;
            background-image: linear-gradient(to left top, #dc143c, #eb5536, #f58137, #fba944, #fecf5d, #f0de68, #e1ec7a, #d1f98f, #adf394, #88ec9d, #5de4a7, #14dbb3);
        }

</style>

<div class="my-5 d-flex align-items-center">
    <div class="container col-sm-3">
        <div class="card">
            <div class="card-body py-5">
                <div style="display:flex;justify-content: center;">
                    <h2 id="login-title" class="fw-bold">スマホで作業記録</h2><i class="fas fa-wifi fa-fw fa-lg login-icon" style="color:var(--maincolor);transform: rotate(45deg);position:relative;left:-13px;top:-10px;"></i>
                </div>
                <div>
                    <form id="login-input-form" method="post">

                        <div class="p-3">
                            <span class="text-danger-custom error-message">@ViewData["ErrorMessage"]</span>
                        </div>

                        <div class="p-3 col-auto">
                            <input type="text" class="form-control form-control-lg" asp-for="@Model.AdministratorLoginId" placeholder="管理者ログインID">
                            <span asp-validation-for="AdministratorLoginId" class="text-danger-custom"></span>
                        </div>

                        <div class="p-3 col-auto">
                            <input type="password" class="form-control form-control-lg" asp-for="@Model.Password" placeholder="パスワード">
                            <span asp-validation-for="Password" class="text-danger-custom"></span>
                        </div>

@*                         <div class ="p-3 text-center">
                            <div class="d-inline-block">
                                <label class="ECM_CheckboxInput">
                                    <input class="ECM_CheckboxInput-Input" type="checkbox" asp-for="RememberMe">
                                    <span class="ECM_CheckboxInput-DummyInput"></span>
                                    <span class="ECM_CheckboxInput-LabelText">ログインを記憶</span>
                                </label>
                            </div>
                        </div> *@

                        <div class="d-grid gap-2 p-3">
                            <button type="submit" class="btn btn-custom btn-lg login-button">ログイン</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="card-footer text-center py-3">
                Copyright &copy; TOZAN 2023
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script>
        $(document).ready(function () {

            history.pushState(null, null, null);
            $(window).on("popstate", function (event) {
                if (!event.originalEvent.state) {
                    history.pushState(null, null, null);
                    return;
                }
            });

        });

    </script>
}