:root {
    --maincolor: #DC143C;
    --mainlightcolor: #FACED7;
    --subcolor: #14DBB3;
    --sublightcolor: #CDFAF1;
    --fontcolor: #252F3B;
    --othercolor: whitesmoke;
    --font-family-sans-serif: Arial, "BIZ UDPGothic", Meiryo UI, sans-serif;
}

html .modal{
    font-family: var(--font-family-sans-serif) !important;
}

body {
    color: var(--fontcolor);
    background-color: whitesmoke !important;
    font-family: var(--font-family-sans-serif) !important;
}

/*画面が小さい時は、文字の大きさを小さくする*/
@media screen and (max-width: 1200px) {
    html {
        font-size: 80%!important;
    }
}

.navbar-brand {
    --font-family-sans-serif: "BIZ UDPGothic", Meiryo UI, sans-serif!important;
}

.text-danger-custom {
    color: var(--maincolor);
    font-weight: 800;
}

.text-success-custom {
    color: var(--subcolor);
    font-weight: 800;
}

.btn-search {
    border: none !important;
    border-bottom: 2px solid var(--fontcolor) !important;
    border-radius: 0px !important;
    background-color: #ffffff !important;
    color: var(--fontcolor) !important;
}

.btn-custom {
    font-weight: 800 !important;
    background-color: var(--othercolor) !important;
    color: var(--fontcolor) !important;
    border: 0px solid var(--fontcolor) !important;
    border-radius: 100vh !important;
}
    .btn-custom:hover, .btn-search:hover {
        background-color: var(--sublightcolor) !important;
    }

.btn-selection {
    border: 1px solid var(--fontcolor) !important;
    background-color: transparent !important;
    color: var(--fontcolor) !important;
    border-radius: 0px !important;
}

.btn-selection:hover {
    background-color: var(--othercolor) !important;
}

.form-control {
    border: none!important;
    border-bottom: 2px solid var(--fontcolor) !important;
    border-radius: 0px !important;
}

    .form-control:focus, .btn:focus, a.page-link:focus {
        box-shadow: 0 0 0 3px var(--mainlightcolor) !important;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: var(--othercolor) !important;
        border: none !important;
        border-bottom: 0px !important;
        border-radius: 0px !important;
    }

.text-right {
    text-align: right !important;
}

.required-mark:after {
    content: "*";
    color: var(--maincolor);
    font-weight: bold;
}

.card {
    border-color: var(--bs-border-color-translucent) !important;
    min-width: 300px !important;
}

.card-header {
    background-color: var(--othercolor) !important;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: var(--subcolor);
}

/*↓navbar custom*/
    .navbar-dark {
    background-color: var(--maincolor) !important;
}

.navbar-brand{
    color:aliceblue!important;
}
/*↑navbar custom*/

/*↓dropdown-menu custom*/
.dropdown-menu {
    --bs-dropdown-min-width: 20rem !important;
}

    .dropdown-menu a.dropdown-item:focus {
        background-color: var(--mainlightcolor) !important;
    }
/*↑dropdown-menu custom*/

/*↓ページャーデザイン上書き*/
.page-no-label {
}

.page-item.active > .page-link {
    font-weight: 800;
    background-color: var(--othercolor) !important;
    border-color: var(--bs-border-color-translucent) !important;
}

.page-link {
    color: var(--fontcolor) !important;
    border-color: var(--bs-border-color-translucent) !important;
}

    .page-link:hover {
        background-color: var(--othercolor)!important;
    }
/*↑ページャーデザイン上書き*/

/*↓table共通 ヘッダー&2列固定*/
/*参考：https://design-remarks.com/convenient-table-layout/ */
table .sticky_table {
    display: block !important;
    overflow: scroll !important;
    height: 550px;
    border-collapse: separate; /*スクロールするとボーダーが消える対応*/
    border-spacing: 0; /*スクロールするとボーダーが消える対応*/
    padding-left: 0; /*スクロールすると、padding分はみ出るため0にしとく*/
    padding-top: 0; /*スクロールすると、padding分はみ出るため0にしとく*/
}

.sticky_table th,
.sticky_table td {
    min-width: 120px;
    max-width: 200px;
    padding: 5px;
    background: #ffffff;
    /*border: solid 1px var(--othercolor);*/
    color: #000000 !important;
}

.sticky_table .edit-icon-btn {
    color: #000000 !important;
    padding: 0px 5px 0px 5px;
}

.sticky_table td {
    color: #000000 !important;
    border-bottom: solid 1px var(--fontcolor) !important;
}

.sticky_table th {
    font-weight: 600 !important;
    background-color: var(--othercolor) !important;
    text-align: center;
    border-bottom: solid 2px var(--fontcolor) !important;
}

.sticky_table tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}

.sticky_table thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

    .sticky_table thead th.blank {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 3;
    }

@media screen and (min-width: 1200px) {
    .sticky_table th {
        white-space: normal;
    }
}

/*↑table共通 ヘッダー固定*/

/*↓table update animation*/
.table-update-row {
    animation: blinking 0.6s 4 ease-in-out alternate;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    100% {
        background-color: var(--subcolor);
    }
}
/*↑table update animation*/

/*↓table-hover*/
.table-hover-evant tr:hover td {
    background-color: var(--sublightcolor)!important;
}

th.table-border-less, td.table-border-less {
    border: none !important;
    background-color: #fff !important;
    min-width: auto !important;
}

.table-hover-evant tr:hover tr.table-border-less, .table-hover-evant tr:hover td.table-border-less {
    background-color: #fff !important;
}
/*↑table-hover*/

/*↓Micromodal.js*/
.modal__container {
    min-width: 300px !important;
}
/*↑Micromodal.js*/

.fadeIn {
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*↓checkbutton design css*/
.ECM_CheckboxInput {
    padding: 12px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ECM_CheckboxInput-Input {
    margin: 0;
    width: 0;
    opacity: 0;
}

.ECM_CheckboxInput:hover {
    background: var(--sublightcolor) !important;
}

    .ECM_CheckboxInput:hover > .ECM_CheckboxInput-DummyInput {
        transform: scale(1.1);
    }

.ECM_CheckboxInput-Input:focus + .ECM_CheckboxInput-DummyInput {
    transform: scale(1.1);
}

.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
    background: var(--subcolor);
}

    .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35%;
        height: 4px;
        border-radius: 2px;
        transform: translate(-6px, 5px) rotateZ(-135deg);
        transform-origin: 2px 2px;
        background: #FFFFFF;
    }

    .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 4px;
        border-radius: 2px;
        transform: translate(-6px, 5px) rotateZ(-45deg);
        transform-origin: 2px 2px;
        background: #FFFFFF;
    }

.ECM_CheckboxInput-DummyInput {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 32px;
    height: 32px;
    border: solid 2px transparent;
    background: rgba(0, 0, 0, .10);
    border-radius: 50%;
    transition: all .15s linear;
}

.ECM_CheckboxInput-LabelText {
    margin-left: 12px;
    display: block;
    font-weight: bold;
}

/*↑checkbutton design css*/

table.sticky_table {
    display: block;
    overflow: scroll;
    width: 100%;
    height: 550px;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0;
    padding-left: 0;
    padding-top: 0;
}

.container-custom {
    color: #842029;
    width: 70%;
    margin-left: 0px;
}

.message-error-area {
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.message-success-area {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.no-scroll {
    overflow: hidden;
}
